.DS_Store
*.pyc
*.egg-info
*.swp
tags
facility_management/docs/current
/.idea/facility_management.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
