{% extends "templates/web.html" %}
{% block header %}
  <h1>Receipts</h1>
{% endblock %}

{% block style %}
  <style>
    .field-group {
      margin-bottom: 15px;
    }
    .table-header {
      background-color: rgb(247, 250, 252);
      color: rgb(141, 153, 166);
    }
    .table-col:first-child {
      border-left: 1px solid #d1d8dd;
    }
    .table-col {
      border-right: 1px solid #d1d8dd;
      font-size: 12px;
    }
    .table-body {
      border-bottom: 1px solid #ebecf1;
    }
  </style>
{% endblock %}

{% block page_content %}

{% if row %}
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="field-group">
          <div class="small text-muted">Mode of Payment</div>
          <div>{{ row.mode_of_payment }}</div>
        </div>
        <div class="field-group">
          <div class="small text-muted">Party Name</div>
          <div>{{ row.party_name }}</div>
        </div>
        <div class="field-group">
          <div class="small text-muted">Amount</div>
          <div>{{ row.get_formatted("paid_amount") }}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field-group">
          <div class="small text-muted">Status</div>
          <div>{{ row.status }}</div>
        </div>
        <div class="field-group">
          <div class="small text-muted">Posting Date</div>
          <div>{{ row.posting_date }}</div>
        </div>
      </div>
    </div>
    <div class="row references">
      <div class="col-sm-12">
        <div class="small text-muted">References</div>
        <table class="table">
          <thead class="table-header">
            <tr>
              <th class="table-col">Type</th>
              <th class="table-col">Name</th>
              <th class="table-col">Total Amount</th>
            </tr>
          </thead>
          <tbody class="table-body">
            {% if not row.references %}
              <tr>
                <td class="table-col text-muted text-center" colspan="3">No references</td>
              </tr>
            {% else %}
              {% for reference in row.references %}
                <tr>
                  <td class="table-col">{{ reference.reference_doctype }}</td>
                  <td class="table-col">{{ reference.reference_name }}</td>
                  <td class="table-col">{{ reference.get_formatted("total_amount") }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endif %}

{% if data %}
<div class="result">
  {% for row in data %}
  <div class="web-list-item transaction-list-item">
    <div class="row">
      <div class="col-sm-6">
        <span class="indicator small blue"> {{ row.name }} </span>
        <div class="small text-muted">{{ row.posting_date }}</div>
      </div>
      <div class="col-sm-2">
        <div class="text-muted">{{ row.status }}</div>
      </div>
      <div class="col-sm-4">
        <div class="text-muted">{{ frappe.utils.fmt_money(row.paid_amount) }}</div>
      </div>
    </div>
    <a
      class="transaction-item-link"
      href="/receipts?name={{ row.name }}"
      >Link</a
    >
  </div>
  {% endfor %}
</div>
{% elif not row %}
<p class="text-muted">{{ _("No Maintenances") }}</p>
{% endif %}

{% endblock %}
